button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}

/* Layout */
h1, p {
  margin-left: 15px;
  margin-right: 15px;
}

/* Helpers */
.disclaimer { font-size: 16px; font-style: italic; color: rgba(0,0,0,.44); }

/* Header */
.header-wrap {
  height: 140px;
  background-color: rgba(0,0,0, 0.8);
}
.header {
  margin: 0 auto;
  max-width: 720px;
}
.header h1 {
  margin-top: 0;
  line-height: 140px;
  color: white;
}

/* Content */
.content-wrap {
  height: 140px;
}
.content {
  margin: 0 auto;
  max-width: 720px;
}

/* Typography */
body {
  color: rgba(0,0,0, 0.8);
}

h1 {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  /*margin-left: -2.5px;*/
  line-height: 1.04;
  letter-spacing: -.028em;
  margin-top: 39px;
} @media (max-width: 767px) { h1 {
  font-size: 32px;
  line-height: 1.04;
  letter-spacing: -.028em;
}}

/*h2 {
  margin-top: 30px;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  letter-spacing: -.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin-left: -1.5px;
  line-height: 1.22;
  letter-spacing: -.018em;
}*/

p {
  margin-top: 29px;

  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
} @media (max-width: 767px) { p {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -.004em;
}}

strong {
  font-weight: 700;
}

a {
  color: rgba(0,0,0, 0.8);
  text-decoration: none;
  background-image: linear-gradient(to bottom,rgba(0,0,0,.6) 50%,rgba(0,0,0,0) 50%);
  background-repeat: repeat-x;
  background-size: 2px .1em;
  background-position: 0 1.07em;
}

blockquote {
  margin-top: 55px;
  margin-bottom: 55px;
  text-indent: -.32em;
  font-family: medium-content-slab-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  margin-left: -1.75px;
  line-height: 1.48;
  letter-spacing: -.014em;
  color: rgba(0,0,0,.6);
  border: none;
  padding: 0;
  padding-left: 50px;
  text-align: left;
} @media (max-width: 767px) { blockquote {
  font-size: 22px;
  margin-left: -1.38px;
  line-height: 1.4;
  letter-spacing: -.008em;
}}
